h1{
    text-align: center;
    color: blue;
    font-weight: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: style 6px;
}
h2{
     font-size: 25px;
}
.div1{
    background-color: aqua;
    background-position: 0%;
    border-width: 800px;

}
ol{
    display: flex;
}
